---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Table from "../components/Table.jsx";

// Anything dynamic doesn't go in here -- only what's compiled
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

// Homework:
// Create an MVP with a fixture/fixtures and get the thing up and working.
---

<Layout>
	<h1>Fixture Materials Test List</h1>
	<Table>
	</Table>

	
</Layout>
