---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";

import Table from "../components/Table.jsx";
---
<h1>Go back whence you came</h1>
<!-- <Layout>
    <Table client:load>
    <Table />
</Layout> -->
